body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background: #050404;
    color: #fff;
    padding: 20px;
    text-align: center;
}
a {
  text-decoration: none;
  color: rgb(0, 143, 143);
 }

main {
    padding: 20px;
}

.project {
    background: #fff;
    margin: 15px 0;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

footer {
    text-align: center;
    padding: 10px 0;
    background:  #050404;
    color: #fff;
}
/* Responsive Styles */
@media (max-width: 600px) {
    header, footer {
        padding: 15px;
    }

    .project {
        margin: 10px 0;
        padding: 10px;
    }
}

@media (min-width: 601px) {
    .project {
        display: flex;
        flex-direction: column;
    }
}
